/*
// Stylesheet for book landing page
//
*/

body{
  color: #333;
}

h1{
  display:none;
}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 52px;
  margin: 30px 0px;
}
h2.sub-title{
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 120%;
  padding: 10px 0px;
}
h4{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  line-height: 120%;
  color: #666;
  margin: 10px 0px;
}
p{
  line-height: 125%;
  font-weight: 100;
  color: #666;
  padding: 10px;
  font-size: 16px;
}

em { font-style: italic; font-weight:bold;}

/* *************************** NAVBAR *************************** */
.navbar{
  position: fixed;
  top: 0px;
  /*height: 45px;*/
  width: 100%;
  background-color: rgba(0,0,0,.75);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.navbar ul{
  padding: 0px 10px;
  text-align: center;
}
.navbar li{
  display: inline-block;
  /*width: 10%;*/
  padding: 10px 15px;
  list-style: none;
}
.navbar a{
  color: #ddd;
  text-decoration: none;
}
.navbar a:hover{
  color: #fff;
}
.navbar a.sign-up-link{
  color: #f60;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  margin-top: -5px;
}
.navbar a.sign-up-link:hover{
  color: #f93;
}
.in-person-only{
  font-style: italic;
  font-size: 16px;
  margin-left: 10px;
  color: gray;
}

/* *************************** GENERAL *************************** */
.container{
}

.darker{
  background-color: #e8e8e8;
}

.hidden{
  display: none;
}


/* *************************** TOP *************************** */

.topbox{
  background: url("/images/railroad_tracks_blur.jpg") no-repeat center center fixed;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  min-height: 600px;
  text-align: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 30px;
}

.cta-button{
  height: 60px;
  width: 175px;
  margin: -10px 0 -5px 0;
  background-color: #ffad4e;
  color: white;
  letter-spacing: 1px;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  border-color: #ffad4e;
  padding: 5px 20px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.cta-button:hover{
  background-color: #ff9a40;
  border-color: #ff9a40;
}

.cta-text{
  font-size: 50px;
  font-weight: 900;00;
  margin-top: -10px;
  /*margin-left: 350px;
  /*font-style: italic;*/
  font-family: 'Open Sans Condensed', sans-serif;
  /*font-family: "helvetica neue", sans-serif;*/
  text-shadow: 1px 1px black;
  color: #f60;
}
.cta-text a{
  text-decoration: none;
}
.cta-text a:visited{
  color: #f60;
}
.cta-text a:hover{
  color: #f93;
}

.content{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.narrow{
  width: 600px;
}

.main-content-container{
  font-family: helvetica, sans-serif; /*"Poly", serif;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}

.hook{
  /*width: 620px;*/
  font-weight: 300;
  font-size: 36px;
  line-height: 120%;
  color: #f60;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
  text-align: center;
}

.sub-description{
  width: 700px;
  font-size: 22px;
  font-weight: 100;
  line-height: 130%;
  /*font-style: italic;*/
  color: #333;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
}

.highlight{
  /*color: #f40;*/
  font-size: 100%;
  font-weight: 800;
}

/* ****************** WHO IS THIS FOR? *************************** */

#who-for{
  padding-top: 30px;
}
#who-for h2{
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0px;
  /*margin-top: 30px;*/
}
#who-for h3{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #666;
}
#who-for ul{
  text-align: center;
  color: #888;
  margin-bottom: 60px;
  margin-top: 40px;
}
#who-for li{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 20px;
  list-style-type: none;
}

/* *************************** BENEFITS ************************* */

.benefits{
  padding: 40px 0px;
}

.clear{
  clear: both;
}

.benefit{
  float:left;
  width: 25%;
  /*font-size: 20px;*/
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon{
  margin: 10px auto 20px auto;
  display: block;

}
img.rocket-icon{
  margin: 60px auto 50px;
  display: block;

}

.subheading{
  padding: 0px 0px 30px 0px;
}

/* ************************ INSTRUCTOR *************************** */

#author{
  padding: 60px 0px 80px;
  font-size: 20px;
  font-weight: 200;
  line-height: 120%;
  margin-left: auto;
  margin-right: auto;
}
.author-info{
  color: #666;
  padding: 40px 0px;
}
img.author-img{
  float: left;
  margin-right: 30px;
}
#author .highlight{
  color: #333;
}

/* ********************** PULL QUOTES *************************** */

.pullquote{
  padding: 40px 0px;
  font-size: 24px;
  font-weight: 100;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 135%;
}
.pullquote-source{
  text-align: right;
  display: block;
  font-style: italic;
  font-size: 80%;
}

/* ************************* SCHEDULE *************************** */

#contents h3{
  padding: 5px;
}

#contents{
  padding: 40px 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}
#contents ul{
  color: #666;
  list-style: none;
  padding: 2px 0px 0px;
}
#contents li{
  padding: 2px 20px 20px;
}

/* ********************* LOGISTICS and SIGNUP ******************* */

#teaching{
  text-align: center;
}

#book-about{
  padding: 0px 0px;
}

#ordering{
  padding: 40px 0px;
  text-align: center;
}

.signup{
  /*min-height: 400px;*/
  /*background-color: white;*/
  padding: 20px 10px;
}
.eventbrite{
  /*height: 300px;*/
  width: 600px;
  /*background-color: orange;*/
  margin: 0px 0px;
}
.contact{
  padding: 40px 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  text-align: center;
}
.email-form{
  padding: 40px 10px 40px 10px;
  text-align: center;
  /*text-align: right;*/
  font-style: italic;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 4px solid #f60;
}
.email-form input[type="email"]{
  width: 300px;
  height: 25px;
  padding: 1px 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
.email-form label{
  /*margin-right: 80px;*/
}
.button{
  width: 120px;
  font-size: 16px;
  line-height: 50px;
  padding-top: 10px;
  height: 75px;
}
.sign-up-here{
  color: #333;
  font-weight: bold;
  margin-bottom: 0px;
}
.see-you-there{
  text-align: center;
}

#order-points ul{
  color: #888;
  margin-bottom: 60px;
  margin-top: 40px;
  list-style-type: none;
}
#order-points li{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 20px;
}

#order-for{
  padding-top: 30px;
}
#order-for h2{
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0px;
  /*margin-top: 30px;*/
}
#order-for h3{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #666;
}
#order-for ul{
  color: #888;
  margin-bottom: 60px;
  margin-top: 40px;
}
#order-for li{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 20px;
}
/* ********************** TESTIMONIALS *************************** */


h1 { margin-bottom:76px; padding:48px 0 22px; border-bottom:1px solid #e7e7e7; }

.testimonial { padding-top:1px; }
.testimonial h2 { text-align:center; }

.testimonial em { font-style: italic; font-weight:bold;}

.testimonial p {
  display:block;
  width:675px;
  margin:0 auto 0;
  text-align:center;
  font-size: 1em;
  line-height: 1.4em;
  }
.testimonial p.attribution {margin-top:-20px;}

.testimonial .quote { font-size:1.45em; line-height:0.6666; vertical-align:-25%; }
.testimonial
 .quote.open { padding-right:2px; }

