/* Place custom styles here, scoped by the CSS id '#book' */
/* To sync up PDF styles, edit custom.sty */
/* Google for "LaTeX style files" to learn how to use custom.sty */

/*

body #book {
  background: green;
}

#book p {
  color: purple;
}

*/
body #book {
  font-family: Palatino, serif;
}

#book h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
}

#book .author {
  font-family: Palatino, serif;
}

#book .number {
  display: none;
}

#book li .subsection {
  display: none;
}

.dropDown ul.dropMenu a {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

#bookmenu .dropDown a {
    font-size: 11px;
}

#book .code {
    width: 55em;
}
