/* Styles for the Learn Ruby on Rails landing page, built on Foundation 5. */
/* Style */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  color: #444;
}

/* Link */
a {
  color: #f04124;
  -webkit-transition: .25s;
  transition: .25s;
}

a:hover {
  color: #ea2f10;
  text-decoration: underline;
}

a:focus {
  outline: none;
  outline: 0 auto 0;
  outline-offset: 0;
}

/* Heading + paragraf */
h1,h2,h3 {
  font-family: Lato, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  color: #444;
  line-height: 1.3;
  margin-bottom: .8125rem;
}

p {
  line-height: 1.4;
  margin-bottom: .8125rem;
}

p.lead {
  line-height: 1.4;
}

/* Custom margin */
.margin-top {
  margin-top: 1.875rem;
}

/* #Custom CSS Foundation 5.0.2
================================================== */
.enlarge {
  font-size: 1.2em;
}

.social-sharing {
  text-align:center;
}

/* Buttons */
.button {
  font-family: Lato, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:focus {
  text-decoration: none;
  outline: none;
  outline: 0 auto 0;
  outline-offset: 0;
}

/* Top bar */
/* Hover text decoration */
.top-bar .name h1 a:hover,.top-bar-section li a:not(.button):hover {
  text-decoration: none;
}

.top-bar .name h1 a {
  font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400 !important;
  margin-top: .5rem;
}

.top-bar .toggle-topbar.menu-icon {
  top: 45%;
}

/* #Themes Styles
================================================== */
/* Masthead */
.masthead {
  background-color: #333;
}

/* Intro */
.intro {
  position: relative;
  height: 34.38rem;
  background-color: #9a958f;
  background-image: url(/images/railroad_tracks_blur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fd0000;
  padding-top: 3.125rem;
  text-align: right;
}

.intro h1,.intro p {
  color: red;
  margin-right: -60px;
}

.intro h1 {
  font-family: Palatino, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  display: none;
}

.intro p.lead {
  font-size: 1.7rem;
}

.intro .button {
  margin-right: 5px;
}

.intro img {
  position: relative;
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.intro .margin-top {
  margin-top: 2.5rem;
}

.button-top {
  margin-top: 2.188rem;
}

/* Services */
.services-wrapper {
  text-align: center;
  padding: 1.75rem 0 3.125rem;
}

.services-wrapper h2 {
  margin-bottom: 5px;
}

.services-wrapper p.lead {
  color: #6f6f6f;
  margin-bottom: 2.5rem;
}

.col-services {
  margin: 0;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.875rem 0;
}

.footer p {
  margin: 0;
}

/* Custom styles
============================================================================ */

.nav-link {
  margin-top: 0.5rem;
}

.hook {
  color: #f60;
}

.chex ul {
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
}

.chex i {
  font-size: 0.2rem;
  padding-right:0.3rem;
}

.testimonial {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.testimonial-source {
  padding:0.3rem;
  text-align: right;
}

.img-circle {
  border-radius: 50%;
  float:right;
  width: 80px;
  padding:0.3rem;
}

.author-info {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.author-img {
  float:right;
  width: 180px;
  padding:0.3rem;
}


/* #Media queries are built using ems in Foundation.
============================================================================ */
/* Max-width 50rem = 800px */
@media only screen and (max-width: 50rem) {
  .intro {
    height: 40.63rem;
    background-image: url(/images/railroad_tracks_blur.jpg);
  }

  .intro img {
    width: 80%;
  }

  .services-wrapper {
    padding-top: 3.125rem;
  }

}

/* Max-width 40rem = 640px */
@media only screen and (max-width: 40rem) {
  .intro {
    height: 44.63rem;
    background-image: url(/images/railroad_tracks_blur.jpg);
    text-align:center;
  }

  .intro p {
    margin-right: 0px;
  }

  .top-bar {
    height: 3.125rem;
  }

  .top-bar .name h1 a {
    margin-top: 5px;
  }

  .top-bar-section ul {
    border-bottom: 1px solid #1a1a1a;
  }

  .intro {
    padding-top: .9375rem;
  }

  .intro img {
    width: 50%;
  }

  .services-wrapper {
    padding-bottom: 1.25rem;
  }

  .col-services {
    width: 80%;
    margin: 0 auto 1.875rem;
  }

}

/* Max-width 35.5rem = 568px */
@media only screen and (max-width: 35.5rem)  {
  .intro {
    height: 48.75rem;
  }

}

/* Max-width 30rem = 480px */
@media only screen and (max-width: 30rem)  {
  .intro {
    height: 45.63rem;
  }

}

/* Max-width 24rem = 384px */
@media only screen and (max-width: 24rem)  {
  .intro {
    height: 42.5rem;
  }

  .intro img {
    width: 65%;
  }

}

/* Max-width 15rem = 240px */
@media only screen and (max-width: 15rem)  {
  .intro {
    height: 59.06rem;
  }

  .intro h1 {
    font-size: 1.875rem;
  }

  .intro p.lead {
    font-size: 1.25rem;
  }

}
